<style type="text/css">
    button.ui-datepicker-current,
    button.ui-datepicker-trigger,
    table.ui-datepicker-calendar { display:none; }
</style>

<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">매출/수금 내역서</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">매출/수금 내역서 리스트</a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">
    매출/수금 내역서 <small>매출/수금 내역서 리스트</small>
</h1>
<!-- end page-header -->

<!-- begin row -->
<div id="content" class="serviceSurveyList">
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-xl-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="searchCondition">
                    <h4 class="panel-title"><i class="fa fa-search-plus"></i> 검색 조건</h4>
                </div>
                <!-- begin panel-body -->
                <div class="panel-body pt-0">
                    <form class="form-horizontal form-bordered">
                        <div class="row">
                            <div class="col-lg-2 mt-3">
                                <div class="input-group" id="default-daterange">
                                    <input type="text" id="daterangeTxt" name="default-daterange" class="form-control"
                                           value="" placeholder="날짜를 선택해주세요" readonly> <span class="input-group-append">
                                        <span class="input-group-text"> <i class="fa fa-calendar"></i>
                                            <input type="hidden" id="startDate" name="startDate" />
                                            <input type="hidden" id="finishDate" name="finishDate" />
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 pt-3">
                                <select id="searchField" class="form-control">
                                    <option value="salesAll">원단 품번 + 원단 품명</option>
                                    <option value="salesNo">원단 품번</option>
                                    <option value="salesName">원단 품명</option>
                                </select>
                            </div>
                            <div class="col-lg-3 pt-3">
                                <div class="searchInputGroup">
                                    <input id="searchKeyword" name="searchKeyword" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                                    <span id="searchClear">
                                        <i class="btnX ion-md-close"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 pt-3"></div>
                            <div class="col-lg-2 pt-3">
                                <button type="button" id="search" class="btn btn-primary float-right px-4">
                                    검색 <i class="fa fa-fw fa-search pl-3"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end panel -->

            <!-- begin panel -->
            <div class="panel panel-inverse mb-5" data-sortable-id="form-plugins-1">
                <div class="panel-body">
                    <div id="data-table-combine_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="dataTables_wrapper dt-bootstrap">
                            <div class="row">
                                <div class="col-lg-12 d-flex justify-content-between">
                                    <div class="dataTables_length" id="data-table-combine_length">
                                        <label><select id="selectLength" name="data-table-combine_length"
                                                       aria-controls="data-table-combine"
                                                       class="custom-select-sm form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="1000">1000</option>
                                            <option value="-1">전체보기</option>
                                        </select> </label>
                                        <p class="mb-0 px-3" style="line-height:34px">
                                            총<span id="totalCount">0</span>건</p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tableHide">
                            <input type="text" tabindex="0" />
                        </div>

                        <div class="dataTables_wrapper dt-bootstrap overflow-auto width-full">
                            <table id="dataTable" class="table table-bordered table-striped serviceSurveyListTable">
                                <thead>
                                <tr class="tableHeadColor">
                                    <th class="with-checkbox">
                                        <div class="checkbox checkbox-css">
                                            <input type="checkbox" value="" id="selectAll"> <label
                                                for="selectAll">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th class="text-center">일자</th>
                                    <th class="text-center">구분</th>
                                    <th class="text-center">원단 품번</th>
                                    <th class="text-center">원단 품명</th>
                                    <th class="text-center">색상명</th>
                                    <th class="text-center">절수</th>
                                    <th class="text-center">수량</th>
                                    <th class="text-center">공제</th>
                                    <th class="text-center">단가</th>
                                    <th class="text-center">금액(수금)</th>
                                    <th class="text-center">세액(DC)</th>
                                    <th class="text-center">운임</th>
                                    <th class="text-center">미수잔액</th>
                                    <th class="text-center">비고</th>
                                    <th class="text-center">수주번호</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd" th:if="${#strings.isEmpty(salesList)}">
                                    <td valign="top" colspan="15" class="dataTables_empty text-center">등록된 수금 내역이 없습니다.</td>
                                </tr>
                                <tr role="row" class="odd" th:each="sales, index : ${salesList}">
                                    <td class="text-center">
                                        <div class="checkbox checkbox-css">
                                            <input type="checkbox" th:value="${sales.seq}"
                                                   th:id="${'salesList_checkbox_' + index.index}" name="checkKey" />
                                            <label th:for="${'salesList_checkbox_' + index.index}">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td class="text-center"><a th:href="${'#/sales/detail?seq=' + sales.seq}" th:text="${#strings.substring(sales.saleDate, 0, 10)}"></a></td>
                                    <td class="text-center">
                                        <span class="text-blue-darker" th:if="${sales.saleFlag.toString().equals('0')}">매출</span>
                                        <span class="text-danger" th:if="${sales.saleFlag.toString().equals('1')}">반품</span>
                                    </td>
                                    <td class="text-center"><a th:href="${'#/sales/detail?seq=' + sales.seq}" th:text="${sales.fabricNo}"></a></td>
                                    <td class="text-center"><a th:href="${'#/sales/detail?seq=' + sales.seq}" th:text="${sales.fabricName}"></a></td>
                                    <td class="text-center" th:text="${sales.color}"></td>
                                    <td class="text-right" th:text="${sales.section}"></td>
                                    <td class="text-right" th:text="${#numbers.formatDecimal(sales.fabricCount, 1, 'COMMA', 1, 'POINT')}"></td>
                                    <td class="text-right" th:text="${#numbers.formatDecimal(sales.deduction, 1, 'COMMA', 1, 'POINT')}"></td>
                                    <td class="text-right" th:text="${#numbers.formatDecimal(sales.unit, 1, 'COMMA', 0, 'POINT')}"></td>
                                    <td class="text-right">
                                        <span class="text-blue-darker" th:if="${sales.saleFlag.toString().equals('0')}" th:text="${#numbers.formatDecimal(sales.price, 1, 'COMMA', 0, 'POINT')}"></span>
                                        <span class="text-danger" th:if="${sales.saleFlag.toString().equals('1')}" th:text="${#numbers.formatDecimal(sales.price, 1, 'COMMA', 0, 'POINT')}"></span>
                                    </td>
                                    <td class="text-right" th:text="${#numbers.formatDecimal(sales.tax, 1, 'COMMA', 0, 'POINT')}"></td>
                                    <td class="text-right" th:text="${#numbers.formatDecimal(sales.delivery, 1, 'COMMA', 0, 'POINT')}"></td>
                                    <td class="text-right" th:text="${#numbers.formatDecimal(sales.receivable, 1, 'COMMA', 0, 'POINT')}"></td>
                                    <td class="text-center" th:text="${sales.etc}"></td>
                                    <td class="text-center" th:text="${sales.orderNo}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="float-right">
                                <button type="button" class="btn btn-danger" data-click="swal-danger"
                                        onclick="fn:removeSales()">삭제</button>
                                <button type="button" class="btn btn-success ml-1"
                                        onclick="location.href='#/sales/register'">등록</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
    </div>
</div>
<!-- end row -->

<!--added front js file of this ejs-->
<script src="/javascripts/frontjs/sales/salesList.js" type="text/javascript"></script>