<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">매입/매출 관리</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">매입/매출 관리</a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">
    매입 관리 리스트 <small>매출 관리 상세</small>
</h1>
<!-- end page-header -->

<!-- begin row -->
<div id="content" class="serviceSurveyDetail">
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-xl-12">
            <!-- begin panel -->
            <div class="panel panel-inverse mb-5" data-sortable-id="form-plugins-1">
                <div class="searchCondition">
                    <h4 class="panel-title"><i class="fa fa-clipboard"></i> 매출/수금 내용</h4>
                </div>
                <div class="panel-body">
                    <div id="data-table-combine_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="dataTables_wrapper dt-bootstrap">
                            <div class="tableHide">
                                <input type="text" tabindex="0" />
                            </div>
                        </div>
                        <div class="row mx-1">
                            <div class="pyoTable my-2">
                                <div class="rowTable">
                                    <span class="cell col2">매입 일자</span>
                                    <span class="cell col3" th:text="${purchaseDetail.purchaseDate}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">사업자번</span>
                                    <span class="cell col3" th:text="${purchaseDetail.companyNo}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">업체명</span>
                                    <span class="cell col3" th:text="${purchaseDetail.companyName}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">입금총액</span>
                                    <span class="cell col3" th:text="${#numbers.formatDecimal(purchaseDetail.total, 1, 'COMMA', 0, 'POINT')}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">은행</span>
                                    <span class="cell col3" th:text="${#numbers.formatDecimal(purchaseDetail.bank, 1, 'COMMA', 0, 'POINT')}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">현금</span>
                                    <span class="cell col3" th:text="${#numbers.formatDecimal(purchaseDetail.cash, 1, 'COMMA', 0, 'POINT')}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">계산서 발행 여부</span>
                                    <span class="cell col3 text-blue-darker" th:if="${purchaseDetail.billFlag.toString().equals('0')}">발행</span>
                                    <span class="cell col3 text-danger" th:if="${purchaseDetail.billFlag.toString().equals('1')}">미발행</span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">전자/수기</span>
                                    <span class="cell col3 text-blue-darker" th:if="${purchaseDetail.pageFlag.toString().equals('0')}">전자</span>
                                    <span class="cell col3 text-danger" th:if="${purchaseDetail.pageFlag.toString().equals('1')}">수기</span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2 pr-3 float-right">
                            <button type="button" class="btn btn-success ml-1" onclick="location.href='#/servlet/purchase/list'">목록</button>
                            <button type="button" class="btn btn-primary ml-1" th:onclick="|location.href='#/servlet/purchase/register?seq=${purchaseDetail.seq}'|">수정</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
    </div>
</div>
<!-- end row -->