<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">매입/매출 관리</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">매입/매출 관리</a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">
    매출 관리 리스트 <small>매출 관리 상세</small>
</h1>
<!-- end page-header -->

<!-- begin row -->
<div id="content" class="serviceSurveyDetail">
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-xl-12">
            <!-- begin panel -->
            <div class="panel panel-inverse mb-5" data-sortable-id="form-plugins-1">
                <div class="searchCondition">
                    <h4 class="panel-title"><i class="fa fa-clipboard"></i> 매출/수금 내용</h4>
                </div>
                <div class="panel-body">
                    <div id="data-table-combine_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="dataTables_wrapper dt-bootstrap">
                            <div class="tableHide">
                                <input type="text" tabindex="0" />
                            </div>
                        </div>
                        <div class="row mx-1">
                            <div class="pyoTable my-2">
                                <div class="rowTable">
                                    <span class="cell col2">매출 일자</span>
                                    <span class="cell col3" th:text="${sellDetail.sellDate}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">사업자번</span>
                                    <span class="cell col3" th:text="${sellDetail.companyNo}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">업체명</span>
                                    <span class="cell col3" th:text="${sellDetail.companyName}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">공급가</span>
                                    <span class="cell col3" th:text="${#numbers.formatDecimal(sellDetail.price, 1, 'COMMA', 0, 'POINT')}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">발행 금액</span>
                                    <span class="cell col3" th:text="${#numbers.formatDecimal(sellDetail.publish, 1, 'COMMA', 0, 'POINT')}"></span>
                                </div>
                                <div class="rowTable">
                                    <span class="cell col2">입금 금액</span>
                                    <span class="cell col3" th:text="${#numbers.formatDecimal(sellDetail.deposit, 1, 'COMMA', 0, 'POINT')}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2 pr-3 float-right">
                            <button type="button" class="btn btn-success ml-1" onclick="location.href='#/servlet/sell/list'">목록</button>
                            <button type="button" class="btn btn-primary ml-1" th:onclick="|location.href='#/servlet/sell/register?seq=${sellDetail.seq}'|">수정</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
    </div>
</div>
<!-- end row -->